@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr/>
    <h2> HELLO WORD , TOI LA Vu Minh Thuan </h2>
    <hr/>
    <ul>
    @for (int i=0 ; i<=5; i++)
        {
            <li>Item @i</li>
        }
      </ul>
      <hr/>
      @{
      int h = DateTime.Now.Hour;
      }

    @if (h < 12 )
    {
        <p>Good morning (@h)</p>
    }
    else
    {
        <p> Good afternoon(@h)</p>
    }
</div>
