@model SanPham

<div class="container">
    <h3>Thêm/Chỉnh sửa sản phẩm</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" asp-action="Upsert">
        <div class="form-group">
            <label asp-for="Name">Tên sản phẩm</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Mô tả</label>
            <input asp-for="Description" type="text" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="price">Giá bán</label>
            <input asp-for="price" type="number" class="form-control" />
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl">Hình ảnh</label>
            <input asp-for="ImageUrl" type="text" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TheLoaiId"> Thể loại</label>
            <select asp-for="TheLoaiId" asp-items="@ViewBag.DSTheLoai" class="form-control">
                <option disabled>Chọn thể loại</option>
            </select>
            <span asp-validation-for="TheLoaiId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@(Model.Id==0?"Tạo mới":"Cập nhật")</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}