@using projectA.Models
@model IEnumerable<SanPham>
<div class="container">
    <table class="table">
        <tbody>        
            @foreach (var item in Model)
            {
                <tr>
                    <th>Tên sản phẩm </th>
                    <th>Thông tin mô tả</th>
                    <th>Giá </th>
                    <th>Hình ảnh</th>
                    <th>Thể loại</th>
                    <th>Chức năng</th>
                </tr>
            }
        </tbody>
    </table>
</div>