
@{
    ViewData["Title"] = "Index";
}


<header>
<h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <tr>
                <td>
                    <h2>STT</h2>
                </td>
                <td>
                    <h2>Mã số SV</h2>
                </td>
                <td>
                    <h2>Họ và tên</h2>
                </td>
            </tr>
            </thead>
            <tr>
                <td>
                    <h3>1</h3>
                </td>
                <td>
                    <h3>1822040869</h3>
                </td>
                <td>
                    <h3>Lê Mai Minh Trọng</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>2</h3>
                </td>
                <td>
                    <h3>1822040780</h3>
                </td>
                <td>
                    <h3>Vũ Minh Thuận</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>3</h3>
                </td>
                <td>
                    <h3>1822040920</h3>
                </td>
                <td>
                    <h3>Hà Đức Ngọc</h3>
                </td>
            </tr>
        </table>

    </article>
</section>

<footer>
    <p>Copyright &copy; Le Mai Minh Trong - @DateTime.Now.Year</p>
</footer>