
<section>
    <ul>
        <li> <a href="#">HOME</a></li>
        <li> <a href="#">Máy tính</a> </li>
    </ul>

</section>

@model MayTinhModel
<header>
    Máy tính
</header>
<h1>Kết quả: @ViewBag.Ketqua</h1>
<footer>
    <p>Copyright &copy; Lê Mai Minh Trọng - @DateTime.Now.Year</p>
</footer>
